{% extends 'base.html' %}

{% block content %}
{{ super() }}
<form action="/login" method="post" class="form-contact">
    <p>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name" required>
    </p>

    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </p>

    <p>
        <input type="submit" value="Sign in">
    </p>

    {% if error %}
    <p class="error">
        {{ error }}
    </p>
    {% endif %}
</form>
{% endblock %}